body {
  margin:0!important;
  padding: 0!important;
  box-sizing: border-box;
  background-color: #000!important;
  color: #000000;
}
.main-content {
  padding-top: 70px; /* equal to navbar height */
}
