/* index.css */

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Ensure no margin or padding on the html element */
html, body {
  margin: 0;
  padding: 0;
}

/* Navbar specific styles */
.navbar {
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

/* Shadow for the navbar */
.nav-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Nav link styles */
.nav-link {
  transition: color 0.3s ease-in-out;
}