body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; /* Make sure it's on top of all content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}
/* index.css */

.nav-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-link {
  transition: color 0.3s ease-in-out;
}
